@model asb.ViewModel.HomeBlogVM

<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <link rel="pingback" href="http://demowp.cththemes.com/bloom/xmlrpc.php" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Favicon -->
    <link rel="shortcut icon" href="http://demowp.cththemes.com/bloom/wp-content/themes/bloom/images/favicon.ico" />

    <title>Blog &#8211; Bloom</title>
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="Bloom &raquo; Feed" href="http://demowp.cththemes.com/bloom/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Bloom &raquo; Comments Feed" href="http://demowp.cththemes.com/bloom/comments/feed/" />
    <script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/demowp.cththemes.com\/bloom\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.7.13"}};
			!function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),!(j.toDataURL().length<3e3)&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,65039,8205,55356,57096),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,55356,57096),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55357,56425,55356,57341,8205,55357,56507),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55357,56425,55356,57341,55357,56507),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='contact-form-7-css' href='http://demowp.cththemes.com/bloom/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.6.1' type='text/css' media='all' />
    <link rel='stylesheet' id='bloomplugins-css-css' href='http://demowp.cththemes.com/bloom/wp-content/themes/bloom/css/plugins.css' type='text/css' media='all' />
    <link rel='stylesheet' id='bloomgoogle-fonts-css' href='https://fonts.googleapis.com/css?family=Libre+Baskerville%3A400%2C400i%2C700%7CMontserrat%3A400%2C700%7CQuestrial&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
    <link rel='stylesheet' id='bloomtheme-style-css' href='http://demowp.cththemes.com/bloom/wp-content/themes/bloom/style.css?ver=2017-02-10' type='text/css' media='all' />
    <link rel='stylesheet' id='bloom-color-css' href='http://demowp.cththemes.com/bloom/wp-content/themes/bloom/css/color-light.css' type='text/css' media='all' />
    <link rel='stylesheet' id='js_composer_front-css' href='http://demowp.cththemes.com/bloom/wp-content/plugins/js_composer/assets/css/js_composer.min.css?ver=5.0.1' type='text/css' media='all' />
    <link rel='stylesheet' id='bloomcustom-css-css' href='http://demowp.cththemes.com/bloom/wp-content/themes/bloom/css/custom.css' type='text/css' media='all' />
    <script type='text/javascript' src='http://demowp.cththemes.com/bloom/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript' src='http://demowp.cththemes.com/bloom/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
    <link rel='https://api.w.org/' href='http://demowp.cththemes.com/bloom/wp-json/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://demowp.cththemes.com/bloom/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://demowp.cththemes.com/bloom/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.7.13" />
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://demowp.cththemes.com/bloom/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]-->
    <noscript>
    <style type="text/css">
        .wpb_animate_when_almost_visible {
            opacity: 1;
        }
    </style></noscript>
</head>
<body class="blog bloom-body-classes bloom-light-version wpb-js-composer js-comp-ver-5.0.1 vc_responsive">
    <div id="bloom-loader" class="loader">
        <div class="tm-loader">
            <div id="circle"></div>
        </div>
    </div>
    <div id="main">
        <header class="bloom-header main-header">
            <!-- Nav button-->
            <div class="nav-button">
                <span class="nos"></span>
                <span class="ncs"></span>
                <span class="nbs"></span>
                <div class="nav-text">منو</div>
            </div>
            <!-- Nav button end -->
            <!-- Logo-->
            <div class="logo-holder">
                <a class="ajax" href="http://demowp.cththemes.com/bloom/">
                    <img src="http://demowp.cththemes.com/bloom/wp-content/themes/bloom/images/logo-demo-light.png"
                         width="120"
                         height="22"
                         style="height:22px;"
                         class="bloom-logo" alt="Bloom" />
                </a>
            </div>
            <!-- Logo  end-->
            <!-- header-info -->
            <div class="header-info">
                <ul>
                    <li><span>Mail : </span><a href="#">yourmail@domain.com</a></li>
                    <li><span>Phone : </span><a href="#">+7(111)123456789</a></li>
                </ul>
            </div>
            <!-- header-info end -->
        </header>
        <!--=============== wrapper ===============-->
        <div id="wrapper">

            <div class="content-holder scale-bg2 vis-footer vis-header" id="bloom-content-wrapper">
                <!--  Navigation -->
                <div class="nav-overlay"></div>
                <div class="nav-inner isDown">
                    <div id="hid-men">
                    <ul id="menu-main-navigation-menu" class="bloom_main-nav">
                    <li id="menu-item-570" class="ajax menu-item menu-item-type-post_type menu-item-object-page menu-item-570"><a href="/Home/Index" class="ajax">گالری</a></li>
                    <li id="menu-item-570" class="ajax menu-item menu-item-type-post_type menu-item-object-page menu-item-570"><a href="http://demowp.cththemes.com/bloom/about/" class="ajax">پخش زنده</a></li>
                    <li id="menu-item-473" class="ajax blog-menu menu-item menu-item-type-post_type menu-item-object-page menu-item-473"><a href="http://demowp.cththemes.com/bloom/blog/" class="ajax">اخبار</a></li>
                    <li id="menu-item-570" class="ajax menu-item menu-item-type-post_type menu-item-object-page menu-item-570"><a href="http://demowp.cththemes.com/bloom/about/" class="ajax">درباره ما</a></li>
                    <li id="menu-item-498" class="ajax menu-item menu-item-type-post_type menu-item-object-page menu-item-498"><a href="http://demowp.cththemes.com/bloom/contact/" class="ajax">تماس با ما</a></li>

                    </ul>
                    </div>
                </div>


                <div class="fixed-column blog-fixed-column">
                    <div class="bg" data-bg="/images/@Model.imageTitle"></div>
                    <div class="column-title">
                        <h1 class="post-sec-title">تهران هورس مگ</h1>
                        <h4>مهمترین اخبار مرتبط با سوارکاری</h4>
                    </div>
                </div>
                <div class="column-wrap blg-wrap">
                    <div class="content">
                        <div class="fl-wrap posts-list-holder">

                            @{ foreach (var item in Model.articleList)
                                {
                                    <article class="content-content fl-wrap artcicle-list post-453 post type-post status-publish format-standard has-post-thumbnail hentry category-camping category-lifestyle category-outdoor tag-lifestyle tag-outdoor tag-photo tag-travel">
                                        <div class="container small-container">
                                            <div class="section-title">

                                                <div class="blog-opt fl-wrap">
                                                    <div style="float:right" class="art-date">@item.date</div>
                                                    @{
                                                        List<string>
                                                        tagList = item.hashtags.Split(',').ToList();
                                                        if (tagList.Count() > 0)
                                                        {
                                                    <ul style="float:right" class="post-categories">
                                                        @foreach (var tag in tagList)
                                                        {
                                                            <li><a href="/Home/Blog?tag=@tag" rel="category tag">@tag</a></li>

                                                        }
                                                       
                                                    </ul>
                                                        }




                                                    }



                                                </div>

                                                <h2 style="text-align:right"><a href="/Home/blogDetail?id=@item.arcticleID" class="ajax">@item.title</a> </h2>
                                            </div>

                                            <div class="fl-wrap">
                                                <div class="media-wrap fl-wrap">
                                                    <img width="1200" height="800" src="/images/panelimages/@item.image" class="respimg wp-post-image" alt="" srcset="~/images/panelimages/@item.image 1200w, /images/panelimages/@item.image 300w, ~/images/panelimages/@item.image 768w, ~/images/panelimages/@item.image 1024w" sizes="(max-width: 1200px) 100vw, 1200px" />
                                                    <p style="text-align:right;margin-top: 25px;max-height: 100px;overflow: hidden;">@item.content </p>
                                                </div>
                                               
                                                <div class="single-post-tags">
                                                    <a href="/Home/Blog?cat=@item.articleCat.articleCatID" rel="tag">@item.articleCat.title</a>
                                                </div>
                                                <div class="clearfix"></div>
                                                <a href="/Home/blogDetail?id=@item.arcticleID" class="ajax btn anim-button trans-btn fl-l"><span>مشاهده مقاله</span><i class="fa fa-eye"></i></a>
                                            </div>


                                        </div>
                                    </article>

                                }



                            }

                        </div>

                    </div>
                </div>




            </div>
            <!-- content-holder end -->
        </div>
        <!-- wrapper end -->
        <!--=============== footer ===============-->
        <footer class="bloom-footer main-footer">

            <div class="policy-box">
                <span>&#169; Bloom 2017  /  All rights reserved. </span>
            </div>
            <div class="footer-social">
                <ul>
                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i><span>facebook</span></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i><span>twitter</span></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-instagram"></i><span>instagram</span></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i><span>pinterest</span></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i><span>tumblr</span></a></li>
                </ul>
            </div>
        </footer>
        <!-- footer end -->
    </div>
    <!-- Main end -->




    <script type='text/javascript' src='http://demowp.cththemes.com/bloom/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}}};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://demowp.cththemes.com/bloom/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.6.1'></script>
    <script type='text/javascript' src='http://demowp.cththemes.com/bloom/wp-content/themes/bloom/js/plugins.js'></script>
    <script type='text/javascript' src='http://demowp.cththemes.com/bloom/wp-content/themes/bloom/js/core.min.js'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var _bloom = {"enable_ajax":"1","nf_bg":"http:\/\/demowp.cththemes.com\/bloom\/wp-content\/themes\/bloom\/images\/bg\/12.jpg","nf_msg":"Page you are looking for - Not found","nf_linktext":"Back to the last page"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://demowp.cththemes.com/bloom/wp-content/themes/bloom/js/scripts.js'></script>
    <script type='text/javascript' src='http://demowp.cththemes.com/bloom/wp-includes/js/comment-reply.min.js?ver=4.7.13'></script>
    <script type='text/javascript' src='http://demowp.cththemes.com/bloom/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js?ver=5.0.1'></script>
    <script type='text/javascript' src='http://demowp.cththemes.com/bloom/wp-content/plugins/js_composer/assets/lib/vc_accordion/vc-accordion.min.js'></script>
    <script type='text/javascript' src='http://demowp.cththemes.com/bloom/wp-content/plugins/js_composer/assets/lib/vc-tta-autoplay/vc-tta-autoplay.min.js'></script>
    <script type='text/javascript' src='http://demowp.cththemes.com/bloom/wp-content/plugins/js_composer/assets/lib/vc_tabs/vc-tabs.min.js'></script>
    <script type='text/javascript' src='http://demowp.cththemes.com/bloom/wp-content/plugins/js_composer/assets/lib/prettyphoto/js/jquery.prettyPhoto.min.js?ver=5.0.1'></script>
    <script type='text/javascript' src='http://demowp.cththemes.com/bloom/wp-includes/js/wp-embed.min.js?ver=4.7.13'></script>

</body>
</html>